/*! Taken from https://github.com/GoogleChrome/dialog-polyfill
    LICENSE: https://github.com/GoogleChrome/dialog-polyfill/blob/master/LICENSE
*/
dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1.5em 1em 0.5em 1em;
    background-color: white;
    color: black;
    display: block;
    border: none;
    animation: showModal 0.3s;
}

dialog:not([open]) {
    display: none;
}

dialog + .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

._dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

dialog {
    max-width: 900px;
    max-height: 90vh;
    overflow-y: auto;

    border-radius: 0.5em;
    box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
}

dialog::backdrop,
dialog + .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog > .dialog__close {
    position: absolute;
    top: 0;
    right: 0.8rem;
    font-size: 1.8em;
    font-weight: bold;
}

dialog > .dialog__close:hover,
dialog > .dialog__close:active {
    color: red;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}
