/* General */
.sea,
.ship-list {
    --ship-1-color: #f26419;
    --ship-2-color: #f6ae2d;
    --ship-3-color: #86bbd8;
    --ship-4-color: #33658a;
    --ship-5-color: #306b34;
}

/* Sea */
.sea {
    --size: 34px;

    display: inline-grid;
    grid-template-columns: repeat(11, var(--size));
    grid-template-rows: repeat(11, var(--size));
    grid-gap: 1px;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.sea-container {
    display: inline-block;
}

.sea .sea__field,
.sea .sea__label {
    text-align: center;
    vertical-align: middle;
    line-height: var(--size);
    box-shadow: 0 0 0 1px #ccc;
}

.sea .sea__field {
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.sea .sea__field:hover,
.sea .sea__label.active {
    background-color: #ddd;
}

.sea .sea__field.ship {
    box-shadow: 0 0 0 1px #ccc, inset 0 0 0 2px white;
    background-color: #ddd;
}
.sea .sea__field.ship::after {
    color: white;
}

.sea .sea__field.ship-1,
.ship-list .ship-1::before {
    background-color: var(--ship-1-color);
}

.sea .sea__field.ship-2,
.ship-list .ship-2::before {
    background-color: var(--ship-2-color);
}
.sea .sea__field.ship-2::after {
    color: #666;
}

.sea .sea__field.ship-3,
.ship-list .ship-3::before {
    background-color: var(--ship-3-color);
}

.sea .sea__field.ship-4,
.ship-list .ship-4::before {
    background-color: var(--ship-4-color);
}

.sea .sea__field.ship-5,
.ship-list .ship-5::before {
    background-color: var(--ship-5-color);
}

.sea .sea__field.hit,
.sea .sea__field.miss {
    pointer-events: none;
}

.sea .sea__field.hit {
    background-image: radial-gradient(black 42%, transparent 46%);
    animation: blinkHit 2s;
}

.sea .sea__field.miss {
    --thickness: 4px;
    background-image: linear-gradient(
            to bottom right,
            transparent calc(50% - calc(var(--thickness) / 2)),
            black calc(50% - calc(var(--thickness) / 2)),
            black calc(50% + calc(var(--thickness) / 2)),
            transparent calc(50% + calc(var(--thickness) / 2))
        ),
        linear-gradient(
            to bottom left,
            transparent calc(50% - calc(var(--thickness) / 2)),
            black calc(50% - calc(var(--thickness) / 2)),
            black calc(50% + calc(var(--thickness) / 2)),
            transparent calc(50% + calc(var(--thickness) / 2))
        );

    background-size: calc(var(--size) - 10px) calc(var(--size) - 10px);
    background-repeat: no-repeat;
    background-position: center;

    animation: blinkMiss 2s;
}

/* GAME */
.ship-list li {
    margin: 0.25em;
}

.ship-list button::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    box-shadow: 0 0 0 3px white;
}

.game-container:not([hidden]) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.game-container .sea-container {
    flex: auto;
    margin: 1em 3em;
}

.game-container h3 {
    margin-top: 0;
}
.game-container h3 .icon {
    vertical-align: middle;
}

/* Keyframes */
@keyframes blinkHit {
    from {
        background-image: radial-gradient(red 42%, transparent 46%);
    }
}

@keyframes blinkMiss {
    from {
        background-image: linear-gradient(
                to bottom right,
                transparent calc(50% - calc(var(--thickness) / 2)),
                red calc(50% - calc(var(--thickness) / 2)),
                red calc(50% + calc(var(--thickness) / 2)),
                transparent calc(50% + calc(var(--thickness) / 2))
            ),
            linear-gradient(
                to bottom left,
                transparent calc(50% - calc(var(--thickness) / 2)),
                red calc(50% - calc(var(--thickness) / 2)),
                red calc(50% + calc(var(--thickness) / 2)),
                transparent calc(50% + calc(var(--thickness) / 2))
            );
        background-size: calc(var(--size) - 10px) calc(var(--size) - 10px);
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* Media Queries */
@media only screen and (max-width: 750px) {
    .sea {
        grid-template-columns: repeat(10, var(--size));
        grid-template-rows: repeat(10, var(--size));
    }

    .sea .sea__field::after {
        content: attr(data-field);
        font-size: 0.6em;
        color: #ccc;
        vertical-align: bottom;
    }

    .sea .sea__label {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .sea-phone-full {
        margin-left: -1em !important;
        margin-right: -1em !important;
    }
}
