body.modal-open {
    overflow: hidden;
}

body.modal-open main {
    transform: scale(0.97);
}

main {
    transition: transform 0.3s;
}

.modal,
.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    transition: visibility 0s;
}

.modal.open {
    visibility: visible;
}
.modal.closed {
    transition-delay: 0.3s;
}

.modal__backdrop,
.modal__background {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.modal__content {
    width: 50%;
    min-height: 40%;
    max-height: 90%;
    overflow-y: auto;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 0.5em;
    transform: translateY(5em);
    opacity: 0;
    z-index: 10;
    box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    transition-delay: 0.1s;
}

.modal__close-icon {
    position: absolute;
    top: 0;
    right: 1rem;

    color: #aaa;
    padding: 0;
    border: none;
    background: none;
    z-index: 10;
    font-size: 2.5rem;
    font-weight: 400;
    cursor: pointer;
}

.modal__close-icon:focus,
.modal__close-icon:hover {
    transform: scale(1.2);
    color: red;
}

.modal > .modal__close-icon {
    color: #fff;
}

.modal.open > .modal__backdrop,
.modal.open > .modal__background {
    opacity: 1;
}

.modal.open > .modal__content {
    transform: translate(0);
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .modal__content {
        width: 85%;
        min-height: 50%;
    }
}
