@import url("./normalize.css");

/* General */
* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #006494;
    --main-color-dark: #003554;
    --main-color-very-dark: #051923;
    --main-color-light: #0582ca;
    --main-color-very-light: #00a6fb;
}

body,
html {
    font-size: 20px;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Helpers */
.error {
    color: red;
}
.error.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    border-color: red;
}

.success {
    color: green;
}

.main-color {
    color: var(--main-color);
}

.inherit-color {
    color: inherit;
}

.full {
    width: 100%;
}

.wide {
    width: 80%;
}

.medium {
    width: 50%;
}

.narrow {
    width: 35%;
}

[hidden],
.hidden {
    display: none;
}

.visually-hidden {
    /*! https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.top,
.left,
.right,
.bottom,
.center {
    position: absolute;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

/* Links */
a {
    color: var(--main-color-light);
}

.cta-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.cta-link:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}

.cta-link__icon,
.cta-link > .icon {
    display: inline-block;
    margin-left: 0.3em;
    transition: transform 0.3s;
}

.cta-link:hover .cta-link__icon,
.cta-link:hover > .icon,
.cta-link:focus .cta-link__icon,
.cta-link:focus > .icon {
    transform: translateX(5px);
}

/* Checkbox */
input[type="checkbox"] + label {
    margin-left: 0.5em;
}

/* Buttons */
button {
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
}

button:disabled,
button[disabled],
button.disabled {
    color: #999;
    background-color: #eee;
    pointer-events: none;
}

.btn.error {
    --main-color: red;
}
.btn.success {
    --main-color: green;
}

.btn {
    padding: 0.5em 1em;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s;
    cursor: pointer;
    color: inherit;
}

.btn:hover {
    border-color: var(--main-color);
}
.btn:active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}

.btn--none {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.btn--icon {
    padding: 0.5em;
    transition: transform 0.2s;
}

.btn--icon > .icon {
    margin: 0;
}

.btn--icon:hover {
    color: var(--main-color);
}

.btn--icon:active {
    background-color: var(--main-color);
    color: white;
}

.btn--icon:hover > .icon,
.btn--icon:active > .icon {
    transform: scale(1.15);
}

/* Icon */
.icon {
    vertical-align: bottom;
    margin-right: 0.5em;
    transform: translateX(0);
}

/* Pill */
.pill {
    border: 2px solid #ddd;
    border-radius: 1em;
    padding: 0.5em 1em;
}

.pill:focus,
.pill:hover,
.pill.active {
    border-color: var(--main-color);
}

.pill:focus,
.pill.active {
    background-color: var(--main-color);
    color: white;
}

.pill .feather-close {
    margin: 0 0 0 1em;
}

.pill .feather-close:hover {
    stroke-width: 3;
}

/* Lists */
.list--none {
    padding: 0;
    list-style-type: none;
}

.list--inline li {
    display: inline-block;
}

/* Cards */
.room-card {
    display: block;
    position: relative;
    padding: 1em 2em;
    border: 2px solid #ddd;
    border-radius: 4px;
    text-align: left;
    text-decoration: none;
}

.room-card__title {
    margin-top: 0;
    font-size: 1.2em;
    color: var(--main-color);
}

.room-card__subtitle {
    margin: 0;
    color: #aaa;
    font-weight: normal;
    font-size: 1em;
}

.room-card:hover,
.room-card:focus {
    border-color: var(--main-color);
}

/* Input */
.input {
    font-size: 1em;
    padding: 0.5em 0.75em;
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.input:focus {
    border-color: var(--main-color);
}

.input--full {
    width: 100%;
}

/* Snackbar */
.snackbar {
    position: fixed;
    top: 1em;
    left: 50%;

    width: 80%;
    max-width: 600px;

    display: flex;
    transform: translateX(-50%);

    visibility: hidden;

    border-radius: 4px;
    padding: 1em;
    z-index: 10;
}

.snackbar .snackbar__icon {
    display: inline-block;
    align-self: center;
    flex-shrink: 0;
    margin-right: 1em;
}

.snackbar .snackbar__icon + .snackbar__content {
    text-align: left;
}

.snackbar.show {
    visibility: visible;
    animation: zoomIn 0.25s;
}

.snackbar--error {
    background-color: red;
    color: white;
}

.snackbar--success {
    background-color: #4caf50;
    color: white;
}

.snackbar--info {
    background-color: var(--main-color);
    color: white;
}

/* Overlay */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.85);

    visibility: hidden;
}
.overlay.show {
    visibility: visible;
    animation: fadein 0.3s;
}

.overlay .overlay__content {
    font-size: 2.5em;
}

/* Main */
.main {
    padding: 1em;
    display: inline-block;
    max-width: 750px;
    align-self: center;
}

.hero {
    padding: 2em 0 3em 0;
    background-color: var(--main-color);
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    text-align: center;
}

/* Footer */
.footer {
    padding: 1em;
    background-color: var(--main-color-very-dark);
    color: #fff;
    margin-top: auto;
}

/* Animations */
@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translateX(-1px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    40%,
    60% {
        transform: translateX(4px);
    }
}

@keyframes zoomIn {
    from {
        transform: translate(-50%, -100%) scale(0.98);
    }
}

/* Media queries */
@media only screen and (max-width: 750px) {
    .main {
        width: 100%;
    }
}
